/*------------------------------------------------------------------------------------------------*/
/*  General                                                                                       */
/*------------------------------------------------------------------------------------------------*/

/* Match standard markdown table paragraph spacing */

.asciidoc-blocks-table-parent td.tableblock > p
{
  margin-top: 0;
  margin-bottom: 0;
}

.asciidoc-blocks-table-parent td.tableblock > p:not(:last-of-type)
{
  margin-bottom: 1em;
}

/* Footer font weight (Note: generated HTML produced 'td' instead of 'th') */

.asciidoc-blocks-table-parent tfoot tr > td.tableblock
{
  font-weight: var(--table-header-weight);
}

/*------------------------------------------------------------------------------------------------*/
/*  Borders                                                                                       */
/*------------------------------------------------------------------------------------------------*/

/* Theme respecting border color */

.asciidoc-blocks-table-parent table.tableblock
{
  border: 0 solid var(--table-border-color);
}

/* Remove all borders by default */

.asciidoc-blocks-table-parent table.tableblock :is(th.tableblock, td.tableblock)
{
  border-width: 0 0;
}

/* Frames (end) */

.asciidoc-blocks-table-parent :is(table.tableblock.frame-end, table.tableblock.frame-all)
{
  border-top-width: var(--table-border-width);
  border-bottom-width: var(--table-border-width);
}

/* Frames (sides) */

.asciidoc-blocks-table-parent :is(table.tableblock.frame-sides, table.tableblock.frame-all)
{
  border-left-width: var(--table-border-width);
  border-right-width: var(--table-border-width);
}

/* Grids (rows) */

.asciidoc-blocks-table-parent :is(table.tableblock.grid-rows, table.tableblock.grid-all) > thead:not(:last-child) > tr > th.tableblock, /* thead */
.asciidoc-blocks-table-parent :is(table.tableblock.grid-rows, table.tableblock.grid-all) > tbody > tr:not(:last-child) > td.tableblock, /* tbody */
.asciidoc-blocks-table-parent :is(table.tableblock.grid-rows, table.tableblock.grid-all) > tbody:not(:last-child) > tr:last-child > td.tableblock /* tfoot precedent */
{
  border-bottom-width: var(--table-border-width);
}

/* Grids (cols) */

.asciidoc-blocks-table-parent :is(table.tableblock.grid-cols, table.tableblock.grid-all) tr > th:not(:last-child), /* header */
.asciidoc-blocks-table-parent :is(table.tableblock.grid-cols, table.tableblock.grid-all) tr > td:not(:last-child) /* non-header */
{
  border-right-width: var(--table-border-width);
}

/*------------------------------------------------------------------------------------------------*/
/*  Stripes                                                                                       */
/*------------------------------------------------------------------------------------------------*/

/* Hover */

.asciidoc-blocks-table-parent table.tableblock.stripes-hover tr:hover
{
  background: var(--background-secondary);
}

/* Header/footer */

.asciidoc-blocks-table-parent :is(table.tableblock.stripes-even, table.tableblock.stripes-odd, table.tableblock.stripes-all) > :is(thead, tfoot) > tr > :is(th.tableblock, td.tableblock)
{
  background: var(--color-base-40);
}

/* Even */

.asciidoc-blocks-table-parent :is(table.tableblock.stripes-even, table.tableblock.stripes-all) > tbody > tr:nth-child(even) > td.tableblock
{
  background: var(--background-secondary);
}

/* Odd */

.asciidoc-blocks-table-parent :is(table.tableblock.stripes-odd, table.tableblock.stripes-all) > tbody > tr:nth-child(odd) > td.tableblock
{
  background: var(--background-secondary);
}

/*------------------------------------------------------------------------------------------------*/
/*  Alignment                                                                                     */
/*------------------------------------------------------------------------------------------------*/

.asciidoc-blocks-table-parent :is(th.tableblock.halign-left, td.tableblock.halign-left)
{
  text-align: left;
}

.asciidoc-blocks-table-parent :is(th.tableblock.halign-right, td.tableblock.halign-right)
{
  text-align: right;
}

.asciidoc-blocks-table-parent :is(th.tableblock.halign-center, td.tableblock.halign-center)
{
  text-align: center;
}

.asciidoc-blocks-table-parent :is(th.tableblock.valign-top, td.tableblock.valign-top)
{
  vertical-align: top;
}

.asciidoc-blocks-table-parent :is(th.tableblock.valign-bottom, td.tableblock.valign-bottom)
{
  vertical-align: bottom;
}

.asciidoc-blocks-table-parent :is(th.tableblock.valign-middle, td.tableblock.valign-middle)
{
  vertical-align: middle;
}
